mqtt.custom.sensor.version/flows.json
[
    {
        "id": "cb9278fda8cb65fc",
        "type": "tab",
        "label": "Thermostat",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d8c7b1ba36a829e6",
        "type": "mqtt out",
        "z": "cb9278fda8cb65fc",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d74dc616f90cd09a",
        "x": 1550,
        "y": 140,
        "wires": []
    },
    {
        "id": "e5084e477dd9dca8",
        "type": "PID",
        "z": "cb9278fda8cb65fc",
        "name": "PID Controller",
        "setpoint": "20",
        "pb": "2",
        "ti": "7200",
        "td": "0",
        "integral_default": 0.5,
        "smooth_factor": "2",
        "max_interval": "120",
        "enable": 1,
        "disabled_op": 0,
        "x": 720,
        "y": 260,
        "wires": [
            [
                "1b759635303bd30c"
            ]
        ]
    },
    {
        "id": "54ea6ad1fc2fd52f",
        "type": "inject",
        "z": "cb9278fda8cb65fc",
        "name": "Get Setpoint from context",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "setpoint",
        "payload": "occupied_heating_setpoint",
        "payloadType": "flow",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "a01e17285f44df8c"
            ]
        ]
    },
    {
        "id": "34c0f763d90ba648",
        "type": "inject",
        "z": "cb9278fda8cb65fc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "integral_default",
        "payload": "0.2",
        "payloadType": "num",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "2b82b39bd107fcf7"
            ]
        ]
    },
    {
        "id": "1b759635303bd30c",
        "type": "function",
        "z": "cb9278fda8cb65fc",
        "name": "x100",
        "func": "var val = msg.payload\n\nflow.set(\"pi_heating_demand\", Math.round(val * 100))\nflow.set(\"cached_integral\", msg.integral)\nflow.set(\"cached_proportional\", msg.proportional)\nflow.set(\"cached_derivative\", msg.derivative)\nflow.set(\"smoothed_value\", msg.smoothed_value)\n\nmsg.topic = \"boiler/setpoint\"\n\nif (val > 0 ) {\n    //val = 30  + val * 70\n    val = 100 * val\n}\n\n// msg.payload = Math.round(val / 5) * 5\nmsg.payload = Math.round(val)\n\nif(flow.get(\"system_mode\") === \"auto\")\n{\n    flow.set(\"boiler_water_temp\", msg.payload)\n    return msg;\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 260,
        "wires": [
            [
                "e029eecc1435a506"
            ]
        ]
    },
    {
        "id": "af77a5d17644df12",
        "type": "inject",
        "z": "cb9278fda8cb65fc",
        "name": "MQTT Discvery",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "homeassistant/climate/0x03b9_frisquet_climate/config",
        "payload": "{\"unique_id\":\"0x03b9_frisquet_climate\",\"name\":\"Chaudiere Frisquet\",\"action_topic\":\"home/boiler\",\"availability\":[{\"topic\":\"home/boiler/availability\"}],\"availability_mode\":\"all\",\"current_temperature_topic\":\"home/boiler\",\"current_temperature_template\":\"{{ value_json.local_temperature }}\",\"device\":{\"identifiers\":[\"climate_frisquet_0x03b9\"],\"manufacturer\":\"Frisquet\",\"model\":\"Hydroconfort Evolution 25/80\",\"name\":\"Frisquet Boiler Controller\"},\"json_attributes_topic\":\"home/boiler\",\"max_temp\":28,\"min_temp\":7,\"mode_command_topic\":\"home/boiler/set/system_mode\",\"mode_state_template\":\"{{ value_json.system_mode }}\",\"mode_state_topic\":\"home/boiler\",\"modes\":[\"off\",\"heat\",\"auto\"],\"temp_step\":0.5,\"temperature_command_topic\":\"home/boiler/set/occupied_heating_setpoint\",\"temperature_state_template\":\"{{ value_json.occupied_heating_setpoint }}\",\"temperature_state_topic\":\"home/boiler\",\"temperature_unit\":\"C\",\"action_template\":\"{% set values = { None:None,'idle':'idle','heat':'heating', 'off':'off'}  %}\\n{{ values[value_json.running_state]}}\"}",
        "payloadType": "json",
        "x": 1280,
        "y": 40,
        "wires": [
            [
                "d8c7b1ba36a829e6"
            ]
        ]
    },
    {
        "id": "fa80526a9a549c40",
        "type": "mqtt in",
        "z": "cb9278fda8cb65fc",
        "name": "Setpoint",
        "topic": "home/boiler/set/occupied_heating_setpoint",
        "qos": "2",
        "datatype": "auto",
        "broker": "d74dc616f90cd09a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "a01e17285f44df8c"
            ]
        ]
    },
    {
        "id": "f337e5ffeafd5770",
        "type": "inject",
        "z": "cb9278fda8cb65fc",
        "name": "Availability",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "home/boiler/availability",
        "payload": "online",
        "payloadType": "str",
        "x": 1290,
        "y": 80,
        "wires": [
            [
                "d8c7b1ba36a829e6"
            ]
        ]
    },
    {
        "id": "a01e17285f44df8c",
        "type": "change",
        "z": "cb9278fda8cb65fc",
        "name": "To number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setpoint",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "e5084e477dd9dca8",
                "717523cb2f2baa4c",
                "1e7e700119016420"
            ]
        ]
    },
    {
        "id": "5f13ef491ff446f1",
        "type": "mqtt in",
        "z": "cb9278fda8cb65fc",
        "name": "System Mode",
        "topic": "home/boiler/set/system_mode",
        "qos": "2",
        "datatype": "auto",
        "broker": "d74dc616f90cd09a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "42fdad73fe6f5255",
                "cb7aac9b737a94be"
            ]
        ]
    },
    {
        "id": "717523cb2f2baa4c",
        "type": "change",
        "z": "cb9278fda8cb65fc",
        "name": "occupied_heating_setpoint",
        "rules": [
            {
                "t": "set",
                "p": "occupied_heating_setpoint",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 440,
        "wires": [
            [
                "c96abac5124ecac9",
                "775e68f9c51ede67"
            ]
        ]
    },
    {
        "id": "42fdad73fe6f5255",
        "type": "change",
        "z": "cb9278fda8cb65fc",
        "name": "system_mode",
        "rules": [
            {
                "t": "set",
                "p": "system_mode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 480,
        "wires": [
            [
                "c96abac5124ecac9",
                "775e68f9c51ede67"
            ]
        ]
    },
    {
        "id": "cb7aac9b737a94be",
        "type": "function",
        "z": "cb9278fda8cb65fc",
        "name": "Disabled",
        "func": "var val = msg.payload\nmsg.topic = \"enable\";\nmsg.payload = val === \"off\" ? 0 : 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 440,
        "wires": [
            [
                "e5084e477dd9dca8"
            ]
        ]
    },
    {
        "id": "e029eecc1435a506",
        "type": "delay",
        "z": "cb9278fda8cb65fc",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 1140,
        "y": 260,
        "wires": [
            [
                "d8c7b1ba36a829e6"
            ],
            [
                "fe28b00c0cd61d0c"
            ]
        ]
    },
    {
        "id": "fe28b00c0cd61d0c",
        "type": "rbe",
        "z": "cb9278fda8cb65fc",
        "name": "Block Unchanged",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1210,
        "y": 320,
        "wires": [
            [
                "d8c7b1ba36a829e6",
                "c99f58a1a3f7c373"
            ]
        ]
    },
    {
        "id": "c99f58a1a3f7c373",
        "type": "function",
        "z": "cb9278fda8cb65fc",
        "name": "running_state",
        "func": "var val = msg.payload\nmsg.topic = \"running_state\";\nmsg.complete = \"\"\nmsg.payload = val > 0  ? \"heat\" : \"idle\"\nflow.set(\"running_state\", msg.payload  )\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 380,
        "wires": [
            [
                "c96abac5124ecac9"
            ]
        ]
    },
    {
        "id": "d21fddca420927f9",
        "type": "inject",
        "z": "cb9278fda8cb65fc",
        "name": "Get Mode from context",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "system_mode",
        "payloadType": "flow",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "cb7aac9b737a94be",
                "42fdad73fe6f5255"
            ]
        ]
    },
    {
        "id": "c96abac5124ecac9",
        "type": "function",
        "z": "cb9278fda8cb65fc",
        "name": "Current Context",
        "func": "msg.topic = \"home/boiler\";\n\nvar mode = flow.get(\"system_mode\")\nif (mode == \"off\") {\n   flow.set(\"running_state\", \"off\")\n}\n\nif (mode == \"heat\") {\n   flow.set(\"running_state\", \"heat\")\n}\n\nmsg.payload = {\n    \"running_state\": flow.get(\"running_state\"),\n    \"current_temperature\": flow.get(\"current_temperature\"),\n    \"local_temperature\": flow.get(\"current_temperature\"),\n    \"system_mode\": flow.get(\"system_mode\"),\n    \"occupied_heating_setpoint\": flow.get(\"occupied_heating_setpoint\"),\n    \"pi_heating_demand\": flow.get(\"pi_heating_demand\"),\n    \"boiler_water_temp\": flow.get(\"boiler_water_temp\"),\n    \"heating_curve_temp\": flow.get(\"heating_curve_temp\")\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 440,
        "wires": [
            [
                "d8c7b1ba36a829e6"
            ]
        ]
    },
    {
        "id": "775e68f9c51ede67",
        "type": "function",
        "z": "cb9278fda8cb65fc",
        "name": "Heating Curve",
        "func": "const slope = 1.8\nconst delta = 28\n\nconst heating_curve_temp = Math.round(slope *(flow.get(\"occupied_heating_setpoint\") - flow.get(\"outdoor_temp\") ) + delta)\nflow.set(\"heating_curve_temp\", heating_curve_temp)\n\nmsg.payload = Math.min(Math.round(heating_curve_temp / 5) * 5 + 5, 100)\nmsg.topic = \"boiler/setpoint\"\n\nif(flow.get(\"system_mode\") === \"heat\")\n{\n    flow.set(\"boiler_water_temp\", msg.payload)\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 560,
        "wires": [
            [
                "e029eecc1435a506"
            ]
        ]
    },
    {
        "id": "2b82b39bd107fcf7",
        "type": "function",
        "z": "cb9278fda8cb65fc",
        "name": "integral_default",
        "func": "const cached_integral = flow.get(\"cached_integral\")\nconst prop_band = 2\n\nif (cached_integral != undefined) {\n    msg.payload = 0.5 - (cached_integral/prop_band)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 80,
        "wires": [
            [
                "e5084e477dd9dca8"
            ]
        ]
    },
    {
        "id": "1e7e700119016420",
        "type": "function",
        "z": "cb9278fda8cb65fc",
        "name": "Boiler Mode",
        "func": "var boiler_mode = 3\n\nif (msg.payload == 7) {\n    boiler_mode = 4\n} else if (msg.payload <= 17) {\n    boiler_mode = 0\n}\n\nmsg.payload = boiler_mode\nmsg.topic = \"boiler/mode\"\n\nflow.set(\"boiler_mode\", boiler_mode)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 140,
        "wires": [
            [
                "d8c7b1ba36a829e6"
            ]
        ]
    },
    {
        "id": "356e1aefa16ef972",
        "type": "poll-state",
        "z": "cb9278fda8cb65fc",
        "name": "",
        "server": "90e080c725fc04d2",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "30",
        "updateIntervalType": "num",
        "updateIntervalUnits": "seconds",
        "outputinitially": true,
        "outputonchanged": true,
        "entity_id": "sensor.aqara_exterieur_temperature",
        "state_type": "num",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "x": 210,
        "y": 680,
        "wires": [
            [
                "cf1bac03f50abd17"
            ]
        ]
    },
    {
        "id": "cf1bac03f50abd17",
        "type": "change",
        "z": "cb9278fda8cb65fc",
        "name": "outdoor_temp",
        "rules": [
            {
                "t": "set",
                "p": "outdoor_temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 560,
        "wires": [
            [
                "775e68f9c51ede67"
            ]
        ]
    },
    {
        "id": "c448e1548d2c4f8d",
        "type": "poll-state",
        "z": "cb9278fda8cb65fc",
        "name": "",
        "server": "90e080c725fc04d2",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "30",
        "updateIntervalType": "num",
        "updateIntervalUnits": "seconds",
        "outputinitially": true,
        "outputonchanged": true,
        "entity_id": "sensor.aqara_salon_temperature",
        "state_type": "num",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "x": 200,
        "y": 620,
        "wires": [
            [
                "5184fdc562a73faa",
                "e5084e477dd9dca8"
            ]
        ]
    },
    {
        "id": "5184fdc562a73faa",
        "type": "change",
        "z": "cb9278fda8cb65fc",
        "name": "current_temperature",
        "rules": [
            {
                "t": "set",
                "p": "current_temperature",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "last_update",
                "pt": "flow",
                "to": "data.last_updated",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 520,
        "wires": [
            [
                "c96abac5124ecac9"
            ]
        ]
    },
    {
        "id": "d74dc616f90cd09a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.127",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "90e080c725fc04d2",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30"
    }
]